body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:20px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:0px;
  top:56px;
  width:302px;
  height:544px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:264px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1368 {
  position:absolute;
  left:7px;
  top:24px;
  width:33px;
  height:30px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u1370 {
  position:absolute;
  left:127px;
  top:29px;
  width:61px;
  height:18px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:64px;
}
#u1372 {
  position:absolute;
  left:0px;
  top:56px;
  width:301px;
  height:64px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:24px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  position:absolute;
  left:0px;
  top:120px;
  width:301px;
  height:30px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:7px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:111px;
}
#u1376 {
  position:absolute;
  left:1px;
  top:188px;
  width:301px;
  height:111px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:48px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1378 {
  position:absolute;
  left:8px;
  top:158px;
  width:25px;
  height:25px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1380 {
  position:absolute;
  left:46px;
  top:163px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u1382 {
  position:absolute;
  left:268px;
  top:158px;
  width:27px;
  height:24px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:10px;
  top:158px;
  width:285px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1385 {
  position:absolute;
  left:10px;
  top:198px;
  width:280px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1386 {
  position:absolute;
  left:10px;
  top:270px;
  width:280px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:555px;
  width:75px;
  height:45px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:14px;
  width:71px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1389 {
  position:absolute;
  left:150px;
  top:555px;
  width:76px;
  height:45px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1390 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1391 {
  position:absolute;
  left:225px;
  top:555px;
  width:76px;
  height:45px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1393 {
  position:absolute;
  left:75px;
  top:555px;
  width:76px;
  height:45px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1394 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
