body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u491 {
  position:absolute;
  left:2px;
  top:20px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u492 {
  position:absolute;
  left:141px;
  top:30px;
  width:27px;
  height:16px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:0px;
  top:55px;
  width:302px;
  height:545px;
}
#u495 {
  position:absolute;
  left:2px;
  top:264px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:112px;
}
#u496 {
  position:absolute;
  left:105px;
  top:118px;
  width:77px;
  height:112px;
}
#u497 {
  position:absolute;
  left:2px;
  top:48px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u498 {
  position:absolute;
  left:100px;
  top:290px;
  width:103px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
